<h1><%= @title.capitalize %></h1>
<h2>Interests</h2>
<p><%= @user_data[params['user'].to_sym][:interests].join(", ") %></p>
<h2>Email</h2>
<p><%= @user_data[params['user'].to_sym][:email]%></p>

<h2>Other Users:</h2>
<% @users.each do |user| %>
	<% if user.downcase != params['user']%>
	<%="<h3><a href=\"/users/#{user.downcase}\">#{user}</a></h3>"%>
	<% end %>
<% end %>

<p>There are <%=user_count.to_s %> users with <%= interests_count.to_s%> interests</p>